BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF  PORT "CLK_48" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48 MHZ;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

LOCATE COMP "LED" SITE "A2";
IOBUF  PORT "LED" IO_TYPE=LVCMOS33;

# DDMI -- DVI over HDMI
# These are differential, their pairs are:
# L2, M2, T2, T3.
LOCATE COMP "ddmi_clk_p" SITE "L1";
LOCATE COMP "ddmi_d0_p"  SITE "M1";
LOCATE COMP "ddmi_d1_p"  SITE "R2";
LOCATE COMP "ddmi_d2_p"  SITE "R4";
IOBUF  PORT "ddmi_clk_p" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF  PORT "ddmi_d0_p"  IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF  PORT "ddmi_d1_p"  IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF  PORT "ddmi_d2_p"  IO_TYPE=LVCMOS33D DRIVE=4;

# PMOD
LOCATE COMP "pmod_a[0]" SITE "B11";
LOCATE COMP "pmod_a[1]" SITE "B12";
LOCATE COMP "pmod_a[2]" SITE "B13";
LOCATE COMP "pmod_a[3]" SITE "B14";
LOCATE COMP "pmod_a[4]" SITE "A11";
LOCATE COMP "pmod_a[5]" SITE "A12";
LOCATE COMP "pmod_a[6]" SITE "A13";
LOCATE COMP "pmod_a10"  SITE "A14";
IOBUF  PORT "pmod_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "pmod_a10"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# SDRAM
LOCATE COMP "dram_clk"    SITE "F16";
LOCATE COMP "dram_cas"    SITE "K16";
LOCATE COMP "dram_cke"    SITE "F15";
LOCATE COMP "dram_cs"     SITE "G16";
LOCATE COMP "dram_ras"    SITE "J16";
LOCATE COMP "dram_we"     SITE "L15";
LOCATE COMP "dram_ldqm"   SITE "L16";
LOCATE COMP "dram_udqm"   SITE "E15";
LOCATE COMP "dram_bs[0]"  SITE "P14";
LOCATE COMP "dram_bs[1]"  SITE "N13";
LOCATE COMP "dram_a[0]"   SITE "M13";
LOCATE COMP "dram_a[1]"   SITE "M14";
LOCATE COMP "dram_a[2]"   SITE "L14";
LOCATE COMP "dram_a[3]"   SITE "L13";
LOCATE COMP "dram_a[4]"   SITE "G12";
LOCATE COMP "dram_a[5]"   SITE "G13";
LOCATE COMP "dram_a[6]"   SITE "G14";
LOCATE COMP "dram_a[7]"   SITE "G15";
LOCATE COMP "dram_a[8]"   SITE "F12";
LOCATE COMP "dram_a[9]"   SITE "F13";
LOCATE COMP "dram_a[10]"  SITE "T15";
LOCATE COMP "dram_a[11]"  SITE "F14";
LOCATE COMP "dram_a[12]"  SITE "E14";
LOCATE COMP "dram_dq[0]"  SITE "R15";
LOCATE COMP "dram_dq[1]"  SITE "R16";
LOCATE COMP "dram_dq[2]"  SITE "P15";
LOCATE COMP "dram_dq[3]"  SITE "P16";
LOCATE COMP "dram_dq[4]"  SITE "N16";
LOCATE COMP "dram_dq[5]"  SITE "N14";
LOCATE COMP "dram_dq[6]"  SITE "M16";
LOCATE COMP "dram_dq[7]"  SITE "M15";
LOCATE COMP "dram_dq[8]"  SITE "E16";
LOCATE COMP "dram_dq[9]"  SITE "D14";
LOCATE COMP "dram_dq[10]" SITE "D16";
LOCATE COMP "dram_dq[11]" SITE "C15";
LOCATE COMP "dram_dq[12]" SITE "C16";
LOCATE COMP "dram_dq[13]" SITE "C14";
LOCATE COMP "dram_dq[14]" SITE "B16";
LOCATE COMP "dram_dq[15]" SITE "B15";
# SDRAM is TTL levels, not CMOS
IOBUF  PORT "dram_clk"    IO_TYPE=LVTTL33;
IOBUF  PORT "dram_cas"    IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_cke"    IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_cs"     IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_ras"    IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_we"     IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_ldqm"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_udqm"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_bs[0]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_bs[1]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[0]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[1]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[2]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[3]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[4]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[5]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[6]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[7]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[8]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[9]"   IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[10]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[11]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_a[12]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[0]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[1]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[2]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[3]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[4]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[5]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[6]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[7]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[8]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[9]"  IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[10]" IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[11]" IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[12]" IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[13]" IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[14]" IO_TYPE=LVTTL33 SLEWRATE=FAST;
IOBUF  PORT "dram_dq[15]" IO_TYPE=LVTTL33 SLEWRATE=FAST;
